backend = "glx";

shadow = false;

fading = true;
fade-in-step = 0.12;
fade-out-step = 0.12;
fade-delta = 5;


vsync = true;

use-damage = false;

unredir-if-possible = true;

blur-method = "none";

corner-radius = 0;

detect-rounded-corners = false;
detect-client-opacity = true;
detect-transient = true;
detect-client-leader = true;

glx-no-stencil = true;
glx-copy-from-front = false;

xrender-sync-fence = true;

{{- if eq .chezmoi.hostname "eclipse" }}
glx-no-rebind-pixmap = true;
{{- end }}

{{- if eq .chezmoi.hostname "nomad" }}
use-damage = true;
{{- end }}

blur:
{
  method = "dual_kawase";
  strength = 1;
};

rules: (
{ 
    match = "focused = true"; 
    opacity = 1.0; 
}
,
{ 
    match = "focused = false"; 
    opacity = 1.0; 
}
,
/* { */
/*     match = "class_g = 'Alacritty'"; */
/*     opacity = 0.85; */
/* } */
/* , */
{
    match = "name = 'Picture in picture'";
    blur = false;
    blur-background = false;
    opacity = 0.70;
}
,
{
    match = "window_type = 'tooltip'";
    fade = false;
    shadow = false;
    blur = false
    opacity = 0.75;
}
,
{
    match = "window_type = 'popup_menu'";
    blur-background = false;
}
,
{
    match = "window_type = 'dropdown_menu'";
    blur-background = false;
}
,
{
    match = "window_type = 'menu'";
    blur-background = false;
}
,
{
    match = "window_type = 'dock'";
    corner-radius = 0;
    opacity = 1.0; 
}
)

