# ~/.bashrc: executed by bash(1) for non-login shells.

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

stty -ixon

source "$HOME/.profile"

# History
HISTCONTROL=ignoreboth:erasedups # ignore commands starting with a space and keep only the newest duplicate
HISTIGNORE='history:history *:ls:ll:lll:la:l:lsh:pwd:clear:exit:cd:cd ..:..:...'
shopt -s histappend # append to the history file, don't overwrite it
shopt -s cmdhist # store multi-line commands as a single history entry
HISTSIZE=10000
HISTFILESIZE=200000
eval "$(~/.local/bin/zoxide init bash)"
history_sync() {
    history -a
    history -n
}

PROMPT_COMMAND="history_sync${PROMPT_COMMAND:+; $PROMPT_COMMAND}"

# Terminal
shopt -s checkwinsize # check the window size after each command and, if necessary, update the values of LINES and COLUMNS.
[[ $COLORTERM =~ ^(truecolor|24bit)$ ]] && color_prompt=yes # enable colored command prompts

# Make less more friendly for non-text input files
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# Set PS1
if [ "$color_prompt" = yes ]; then
    PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
    PS1='\u@\h:\w\$ '
fi
unset color_prompt

# Colors
eval "$(check_and_execute dircolors)" # enable color support of ls
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01' # colored GCC warnings and errors

[ -f ~/.aliasrc ] && source ~/.aliasrc

# enable programmable completion features
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi
bind 'set completion-ignore-case on'

eval "$(check_and_execute fzf --bash)"

{{- if eq .chezmoi.hostname "wsl" }}
# WSL key bindings
bind '"\e[1;5C": forward-word'
bind '"\e[1;5D": backward-word'
bind '"\eOc": forward-word'
bind '"\eOd": backward-word'
bind '"\e[3;5~": kill-word'
bind '"\e[3^": kill-word'
bind '"\C-h": backward-kill-word'
bind '"\e[3;6~": kill-line'
bind '"\e[3@": kill-line'
bind '"\e[A": history-search-backward'
bind '"\e[B": history-search-forward'
bind '"\e[C": forward-char'
bind '"\e[D": backward-char'

alias netext="cd /mnt/d/code/magshiproject && git status"

# WSL X server
export DISPLAY=$(route.exe print | awk '/0.0.0.0/ {print $4; exit;}'):0.0 2> /dev/null

# WSL locations
if env | grep -q '^WINUSERNAME='; then
  export DOWNLOADS="/mnt/c/Users/$WINUSERNAME/Downloads"
  export WINUSER="/mnt/c/Users/$WINUSERNAME/"
fi
export CODE="/mnt/d/code"
export CDRIVE="/mnt/c"
export DDRIVE="/mnt/d"
export HDRIVE="/mnt/h"

# WSL aliases
alias cmdo='cmd.exe /c'
alias cmd="cmd.exe"
alias cmdpy='cd "$(pwd -P)" && cmd.exe /k "cd /d $(wslpath -w "$(pwd -P)") && call .venv\\Scripts\\activate.bat"'
alias xpl='explorer.exe .'
alias everything="/mnt/c/Program\ Files/Everything/Everything.exe"
alias gitsh="'/mnt/c/Program Files/Git/bin/bash.exe' -i -l"

alias todo="todo-txt"
{{- end }}

#[ -z "$TMUX"  ] && { exec tmux new-session && exit;}
